.section-1 {
    height: 30%;
    display: grid;
    place-items: center;
    padding: 80px 0;
    background-color: #334958;
}



nav .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.about {
    width: 70%;
    text-align: center;
}

.about p {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;

}

.about button {
    padding: 3px;
    color: #334958;
    background-color: none;
}