 .section-3 {
     height: 50%;
     padding: 50px;
     background-color: #c5aa73;
 }

 .section-3-a {
     gap: 3rem;
     display: grid;
     place-items: center;
     align-items: center;
     grid-template-columns: repeat(4, minmax(80px, 1fr));
 }

 .title {
     font-weight: 500;
     font-size: 40px;
     line-height: 1;
     color: #fff;
     margin-bottom: 40px;
     text-align: center;
 }

 .card {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-bottom: 1px solid #fff;
     gap: 0.7rem;
     padding: 15px;
     color: #fff;
 }



 @media screen and (min-width:768px)and (max-width:1025px) {
     .section-3-a {
         grid-template-columns: repeat(2, minmax(80px, 1fr));
         gap: 2rem;
     }
 }

 @media screen and (max-width:767px) {
     .section-3-a {
         grid-template-columns: repeat(1, minmax(80px, 1fr));
         gap: 1.5rem;
     }
 }