@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish&display=swap');



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  margin: 0;
  font-family: 'Marcellus', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}