 .section-2 {
     height: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 50px;
     gap: 4rem;
 }


 .img {
     width: 50%;
 }

 img {
     border-radius: 15px;
 }

 .room-det {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     width: 50%;
 }

 .room-header {
     font-weight: 500;
     font-size: clamp(2rem, 2vw + 1rem, 3.2rem);
     line-height: 1;
     color: #334958;
 }

 .room-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.45;
     color: #334958;
 }

 .room-list {
     margin: 10px 0px;

 }

 .room-list .room {
     padding: 10px;
     cursor: pointer;
     width: 50%;
     color: #fff;
     background: #334958;
 }

 .room:hover {
     transform: translateX(10px);
     transition: transform 200ms ease-in;
 }

 .room-b {
     margin: 10px 0;
 }

 .room-det button {
     width: 20%;
     color: #334958;
 }


 @media screen and (min-width:768px)and (max-width:1025px) {
     .section-2 {
         gap: 2.5rem;
     }

     .room-list .room {
         width: 65%;
     }

     .room-det button {
         width: 40%;
     }
 }

 @media screen and (max-width:767px) {
     .section-2 {
         flex-wrap: wrap;
         padding: 50px 20px;
         gap: 2rem;
     }

     .img,
     .room-det,
     .room-list .room {
         width: 100%;
     }

     .room-det {
         align-items: center;
         text-align: center;
     }

     .room-det button {
         width: 40%;
     }

 }