html,
body {
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

#root>div>div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper>div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    padding-bottom: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}



.slide {
    display: grid;
    place-items: center;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px;
}

.slide-img {
    width: 50%;
}

.slide-text {
    font-weight: 400;
    line-height: 1;
    text-align: center;
    padding-top: 17px;
    font-size: clamp(2rem, 2vw + 1rem, 3.2rem);
    color: #073c36;
}


@media screen and (min-width:768px)and (max-width:1025px) {
    .slide-img {
        width: 70%;
    }
}

@media screen and (max-width:767px) {
    .slide-img {
        width: 100%;
    }

    .slide {
        padding: 50px 20px;
    }
}