nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: #fff;
}

nav .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}