.section-1 {
    height: 30%;
    display: grid;
    place-items: center;
    padding: 50px 0;
    background-color: #334958;
}
.section-title{
    font-weight: 500;
    font-size: clamp(2rem, 2vw + 1rem, 3.2rem);     
     line-height: 1;
        color: #fff;
        margin-bottom: 40px;
        text-align: center;
}


.about {
    width: 70%;
    text-align: center;
}

.about p {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
}

.about button {
    padding: 3px;
    color: #334958;
    background-color: none;
}